<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- <context:annotation-config /> -->
	<context:component-scan base-package="examples" />
	<bean id="sample" class="examples.DependsOnExoticType">
		<property name="type" value="aNameForExoticType" />
	</bean>
	<!-- 
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="examples.ExoticType" value="examples.ExoticTypeEditor" />
			</map>
		</property>
	</bean>
	 -->
	<!-- 
	<bean id="customPropertyEditorRegistrar" class="examples.CustomPropertyEditorRegistrar" />
	 -->
</beans>