<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 	
	<bean id="msgSrc" class="com.kimcatt.spring.helloworld.repository.impl.MessageSourceImpl">
		collaborators and configuration for this bean go here
	</bean>
	<bean id="messagePrinter" class="com.kimcatt.spring.helloworld.service.impl.MessagePrinterImpl">
		collaborators and configuration for this bean go here
		<property name="messageSource" ref="msgSrc"></property>
	</bean>
	 -->
	<import resource="exampleBeans.xml"/>
	<import resource="foos.xml"></import>
	<import resource="bars.xml"></import>
	<import resource="lifecycleBeans.xml"/>
</beans>